* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: #02012B;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans';
    background-image: url('./assets/44.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.search-input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: #25253F;
    color: #fff;
    border-color: transparent;
    padding-left: 5px;
    font-size: 1.1rem;
    font-family: 'DM Sans';
}

input[type="text"]{
    font-family: 'DM Sans';
}

input::placeholder{
    color: #fff;
    font-family: 'DM Sans';
}

input[type="text"] {
    font-family: 'DM Sans';
}

input:focus{
    outline: none;
}

button{
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: #3F48C9;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    font-size: 1.1rem;
}

button:active {
  transform: scale(0.95);
}

.search-form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.weather-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-weather{
    background-color: #3F48C9;
    border-radius: 10px;
    width: 510px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    transition: 0.5s ease;
    background-size: cover;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-weather.Clouds{
    background-image: url('./assets/clouds.jpg');
}

.main-weather.Clear{
    background-image: url('./assets/clear.jpg');
}

.main-weather.Rain{
    background-image: url('./assets/rain.jpg');
}

.main-weather.Snow{
    background-image: url('./assets/snow.jpg');
}

.main-weather.Thunderstorm{
    background-image: url('./assets/thunderstorm.jpg');
}

.main-weather.Mist{
    background-image: url('./assets/mist.jpg');
}

.main-weather.Fog{
    background-image: url('./assets/mist.jpg');
}

.left-main-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.right-main-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-icon{
    width: 80px;
    height: 80px;
}

.other-weather{
    display: flex;
    gap: 10px;
}

.other-weather div{
    min-width: 120px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(47, 14, 167);
}

.max-min-temp{
    display: flex;
    gap: 5px;
}

p{
    font-size: 1.1rem;
}

.date{
    font-size: 1rem;
}

.header-h1-text{
    font-size: 3rem;
}

.country-city-name{
    margin-top: -90px;
}

@media (max-width: 500px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-weather{
    height: 200px;
    align-items: flex-start;
}

.header-h1-text{
    font-size: 1.6rem;
}

.weather-card,
.main-weather,
.search-input-button,
.other-weather{
    max-width: 350px;
}

.weather-card{
    gap: 25px;
}

.weather-result{
    gap: 25px;
}

.right-main-weather{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.left-main-weather{
    margin-top: 35px;
}

.temp-name{
    white-space: nowrap;
}

.other-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-weather div{
    width: 200px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.weather-icon{
    margin-top: -15px;
}

}
